@page
@model IndexModel
@{
    ViewData["Title"] = "Travelling";
}

<div class="text-center">
    <h1 class="display-4">Travelling</h1>
    <p>The current time on the server is @DateTime.Now </p>
</div>
